body{
    padding: 0;
    margin: 0;
    background-color: #1d1d1f;
    color: aliceblue;
}
main{
    display: flex;
    justify-content: space-between;
    margin: 2%;
    padding: 0% 7%;
}
.main-text{
    display: flex;
    gap: 5%;
    margin-left: 4%;
    line-height: 40px;
}
.main-section-1{
    width: 50%;
}
.line{
    width:1px;
    background-color: #ccb95e;
    height: 120px;
    position: relative;
    top: 18px;
}
.hidden{
    display: none;
}
nav{
    display: flex;
    justify-content: space-between;
}
.top-angle{
    border: 2px solid #ccb95e;
    padding: 40px;
    border-top-left-radius: 3px;
    border-bottom:0px;
    border-right:0px;
}
.projects-angle{
    border: 2px solid #ccb95e;
    padding: 8px;
    border-top-left-radius: 5px;
    border-bottom:0px;
    border-right:0px;
}
.bottom-angle{
    border: 2px solid #ccb95e;
    padding: 40px;
    border-bottom-right-radius: 3px;
    border-top:0px;
    border-left:0px;
}
.content-container{
    margin: 4%;
}
.project-links{
    color: white;
    text-decoration: none;
}
li{
    list-style: none;
}
.mini-angle{
    margin-top: 14px;
}
.projects-links-ul  li{
    margin-top: 7px;
    padding-right: 5px;
}
.links{
    width: 13%;
    margin-right: 2%;
    display: block;
}
.links-ul{
    display: flex;
    justify-content: space-between;
}
footer{
    display: flex;
    justify-content: space-between;
}
.projects{
    margin-right: 15%;
}

#logo a{
    text-decoration: none;
    color: aliceblue;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 319px) {
    body{
        padding: 0;
        margin: 0;
        background-color: #1d1d1f;
        color: aliceblue;
    }
    main{
        display: block;
        justify-content: space-between;
        margin: 60px 0px 0px 0px;
        padding: 2% 7% 2% 15%;
    }
    .hidden{
        display: block;
    }
    .main-text{
        display: flex;
        gap: 5%;
        margin-left: 1%;
        line-height: 30px;
    }
    .main-section-1{
        width: 100%;
    }
    .main-section-1 h1{
        margin: 0px;
        display: none;
    }
    .line{
        width:1px;
        background-color: #ccb95e;
        height: 170px;
        position: relative;
        top: 18px;
    }
    nav{
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
    }
    .top-angle{
        border: 2px solid #ccb95e;
        padding: 24px 12px 24px 24px;
        border-top-left-radius: 3px;
        border-bottom:0px;
        border-right:0px;
        line-height: 26px;
    }
    .projects-angle{
        border: 2px solid #ccb95e;
        padding: 8px;
        border-top-left-radius: 5px;
        border-bottom:0px;
        border-right:0px;
        width: 40%;
    }
    .bottom-angle{
        border: 2px solid #ccb95e;
        padding: 13px;
        border-bottom-right-radius: 3px;
        border-top:0px;
        border-left:0px;
        width: 96%;
        margin-left: 20px;
    }
    .content-container{
        margin: 5%;
        padding: 5%;
    }
    .project-links{
        color: white;
        text-decoration: none;
    }
    li{
        list-style: none;
    }
    .mini-angle{
        margin-top: 14px;
    }
    .projects-links-ul  li{
        margin-top: 7px;
        padding-right: 0px;
    }
    .projects-links-ul{
        padding-left:0px;
    }
    .links{
        width: 13%;
        margin-right: 2%;
        display: none;
    }
    .links-ul{
        display: flex;
        justify-content: space-between;
    }
    footer{
        display: block;
        justify-content: space-between;
        margin-top: 60px;
        margin-bottom: 40px;
        font-size: medium;
        padding-right: 30px;
    }
    .projects{
        margin-left: 25%;
        margin-top: 50px;
    }
    .section-projects{
        display: none;
    }
    .dropdown{
        width: 13%;
        display: flex;
        flex-direction:column;
        gap: 10px;
        position: relative;
        top:30px;
        right: 6px;
    }
    .hambuger-line{
        background-color: #ccb95e;
        padding: 0.7px;
        border-radius: 4px;
    }
    /* .links-for-mobile{
        display: ;
    } */
   
    #logo a{
        text-decoration: none;
        color: aliceblue;
    }
}

@media only screen and (min-width: 320px) and (max-width:429px) {
    body{
        padding: 0;
        margin: 0;
        background-color: #1d1d1f;
        color: aliceblue;
    }
    main{
        display: block;
        justify-content: space-between;
        margin: 60px 0px 0px 0px;
        padding: 2% 7% 2% 15%;
    }
    .main-text{
        display: flex;
        gap: 5%;
        margin-left: 1%;
        line-height: 30px;
    }

    .main-section-1{
        width: 100%;
    }
    .main-section-1 h1{
        margin: 0px;
        display: none;
    }
    .line{
        width:1px;
        background-color: #ccb95e;
        height: 170px;
        position: relative;
        top: 18px;
    }
    nav{
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
    }
    .top-angle{
        border: 2px solid #ccb95e;
        padding: 24px 12px 24px 24px;
        border-top-left-radius: 3px;
        border-bottom:0px;
        border-right:0px;
        line-height: 26px;
    }
    .mobile-projects-angle{
        border: 2px solid #ccb95e;
        padding: 8px;
        border-top-left-radius: 5px;
        border-bottom:0px;
        border-right:0px;
        width: 50%;  
        margin-left: 10px;
    }
    .projects-angle{
        border: 2px solid #ccb95e;
        padding: 8px;
        border-top-left-radius: 5px;
        border-bottom:0px;
        border-right:0px;
        width: 40%;
    }
    .bottom-angle{
        border: 2px solid #ccb95e;
        padding: 13px;
        border-bottom-right-radius: 3px;
        border-top:0px;
        border-left:0px;
        width: 96%;
        margin-left: 20px;
    }
    .content-container{
        margin: 5%;
        padding: 5%;
    }
    .project-links{
        color: white;
        text-decoration: none;
    }
    li{
        list-style: none;
    }
    .mini-angle{
        margin-top: 14px;
    }
    .projects-links-ul  li{
        margin-top: 7px;
        padding-right: 0px;
    }
    .projects-links-ul{
        padding-left:0px;
    }
    .links{
        width: 13%;
        margin-right: 2%;
        display: none;
    }
    .links-for-mobile-ul{
        display: flex;
        justify-content: space-between;
        width: 40%;
        position: relative;
        margin-top: 30px;
        left: 40px;
    }
    footer{
        display: block;
        justify-content: space-between;
        margin-top: 60px;
        margin-bottom: 40px;
        font-size: medium;
        padding-right: 30px;
    }
    .projects{
        margin-left: 25%;
        margin-top: 50px;
    }
    .section-projects{
        display: none;
    }
    .dropdown{
        width: 13%;
        display: flex;
        flex-direction:column;
        gap: 10px;
        position: relative;
        top:30px;
        right: 6px;
    }
    .hambuger-line{
        background-color: #ccb95e;
        padding: 0.7px;
        border-radius: 4px;
        transform-origin: center;
        transition: transform 0.5s ease;
        transform: rotate(0);
    }
    .active .hambuger-line1{
        position: relative;
        top: 11px;
        transform: rotate(45deg);
    }
    .active .hambuger-line2{
        transform: rotate(-45deg);
    }
    .active .hidden{
        display: block;
        background-color: #1d1d1f;
    }
    

    #logo a{
        text-decoration: none;
        color: aliceblue;
    }
}
@media only screen and (min-width: 430px) and (max-width:769px) {
    body{
        padding: 0;
        margin: 0;
        background-color: #1d1d1f;
        color: aliceblue;
    }
    main{
        display: block;
        justify-content: space-between;
        margin: 90px 0px 90px 0px;
        padding: 2% 7% 2% 15%;
    }
    .hidden{
        display: block;
    }
    .main-text{
        display: flex;
        gap: 5%;
        margin-left: 1%;
        line-height: 30px;
    }
    .main-section-1{
        width: 100%;
    }
    .main-section-1 h1{
        margin: 0px;
        display: none;
    }
    .line{
        width:1px;
        background-color: #ccb95e;
        height: 90px;
        position: relative;
        top: 18px;
    }
    nav{
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
    }
    .top-angle{
        border: 2px solid #ccb95e;
        padding: 24px 12px 24px 24px;
        border-top-left-radius: 3px;
        border-bottom:0px;
        border-right:0px;
        line-height: 26px;
    }
    .projects-angle{
        border: 2px solid #ccb95e;
        padding: 8px;
        border-top-left-radius: 5px;
        border-bottom:0px;
        border-right:0px;
        width: 40%;
    }
    .bottom-angle{
        border: 2px solid #ccb95e;
        padding: 13px;
        border-bottom-right-radius: 3px;
        border-top:0px;
        border-left:0px;
        width: 70%;
        margin-left: 20px;
    }
    .content-container{
        margin: 5%;
        padding: 5%;
    }
    .project-links{
        color: white;
        text-decoration: none;
    }
    li{
        list-style: none;
    }
    .mini-angle{
        margin-top: 14px;
    }
    .projects-links-ul  li{
        margin-top: 7px;
        padding-right: 0px;
    }
    .projects-links-ul{
        padding-left:0px;
    }
    .links{
        width: 13%;
        margin-right: 2%;
        display: none;
    }
    .links-ul{
        display: flex;
        justify-content: space-between;
    }
    footer{
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        margin-bottom: 40px;
        font-size: medium;
        padding-right: 0px;
    }
    .projects{
        margin-left: 25%;
        margin-top: 50px;
    }
    .section-projects{
        display: none;
    }
    .dropdown{
        width: 10%;
        display: flex;
        flex-direction:column;
        gap: 10px;
        position: relative;
        top:33px;
        right: 10px;
    }
    .hambuger-line{
        background-color: #ccb95e;
        padding: 0.7px;
        border-radius: 4px;
        transform-origin: center;
        transition: transform 0.5s ease;
        transform: rotate(0);
    }
    .active .hambuger-line1{
        position: relative;
        top: 11px;
        transform: rotate(45deg);
    }
    .active .hambuger-line2{
        transform: rotate(-45deg);
    }
    .active .hidden{
        display: block;
        background-color: #1d1d1f;
    }
    #logo a{
        text-decoration: none;
        color: aliceblue;
    }
    .links-for-mobile-ul{
        display: flex;
        justify-content: space-between;
        width: 20%;
        position: relative;
        margin-top: 60px;
        left: 120px;
        margin-left: 70px;
        
    }
    .mobile-projects{
        display: block;
    }
    .mobile-projects-angle{
        border: 2px solid #ccb95e;
        padding: 8px;
        border-top-left-radius: 5px;
        border-bottom:0px;
        border-right:0px;
        width: 50%;  
        margin-left: 50px;
    }
    
}

@media only screen and (min-width: 780px) and (max-width:999px) {
    body{
        padding: 0;
        margin: 0;
        background-color: #1d1d1f;
        color: aliceblue;
    }
    main{
        display: block;
        justify-content: space-between;
        margin: 90px 0px 90px 0px;
        padding: 2% 7% 2% 15%;
    }
    .hidden{
        display: block;
    }
    .main-text{
        display: flex;
        gap: 5%;
        margin-left: 1%;
        line-height: 30px;
    }
    .main-section-1{
        width: 100%;
    }
    .main-section-1 h1{
        margin: 0px;
        display: none;
    }
    .line{
        width:1px;
        background-color: #ccb95e;
        height: 90px;
        position: relative;
        top: 18px;
    }
    nav{
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
    }
    .top-angle{
        border: 2px solid #ccb95e;
        padding: 24px 12px 24px 24px;
        border-top-left-radius: 3px;
        border-bottom:0px;
        border-right:0px;
        line-height: 26px;
    }
    .projects-angle{
        border: 2px solid #ccb95e;
        padding: 8px;
        border-top-left-radius: 5px;
        border-bottom:0px;
        border-right:0px;
        width: 40%;
    }
    .bottom-angle{
        border: 2px solid #ccb95e;
        padding: 13px;
        border-bottom-right-radius: 3px;
        border-top:0px;
        border-left:0px;
        width: 50%;
        margin-left: 20px;
    }
    .content-container{
        margin: 5%;
        padding: 5%;
    }
    .project-links{
        color: white;
        text-decoration: none;
    }
    li{
        list-style: none;
    }
    .mini-angle{
        margin-top: 14px;
    }
    .projects-links-ul  li{
        margin-top: 7px;
        padding-right: 0px;
    }
    .projects-links-ul{
        padding-left:0px;
    }
    .links{
        width: 13%;
        margin-right: 2%;
        display: none;
    }
    .links-ul{
        display: flex;
        justify-content: space-between;
    }
    footer{
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        margin-bottom: 40px;
        font-size: medium;
        padding-right: 10px;
    }
    .projects{
        margin-left: 25%;
        margin-top: 50px;
    }
    .section-projects{
        display: none;
    }
    .dropdown{
        width: 10%;
        display: flex;
        flex-direction:column;
        gap: 10px;
        position: relative;
        top:33px;
        right: 10px;
    }
    .hambuger-line{
        background-color: #ccb95e;
        padding: 0.7px;
        border-radius: 4px;
    }
    .links-for-mobile-ul{
        display: flex;
        justify-content: space-between;
        width: 20%;
        position: relative;
        margin-top: 30px;
        left: 40px;
    }
    .mobile-projects{
        display: block;
    }
    .mobile-projects-angle{
        border: 2px solid #ccb95e;
        padding: 8px;
        border-top-left-radius: 5px;
        border-bottom:0px;
        border-right:0px;
        width: 50%;  
        margin-left: 10px;

    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1000px) and (max-width:1200) {
    body{
        padding: 0;
        margin: 0;
        background-color: #1d1d1f;
        color: aliceblue;
    }
    main{
        display: flex;
        justify-content: space-between;
        margin: 2%;
        padding: 0% 7%;
    }
    .main-text{
        display: flex;
        gap: 5%;
        margin-left: 4%;
        line-height: 40px;
    }
    .main-section-1{
        width: 50%;
    }
    .line{
        width:1px;
        background-color: #ccb95e;
        height: 120px;
        position: relative;
        top: 18px;
    }
    nav{
        display: flex;
        justify-content: space-between;
    }
    .top-angle{
        border: 2px solid #ccb95e;
        padding: 40px;
        border-top-left-radius: 3px;
        border-bottom:0px;
        border-right:0px;
    }
    .projects-angle{
        border: 2px solid #ccb95e;
        padding: 8px;
        border-top-left-radius: 5px;
        border-bottom:0px;
        border-right:0px;
    }
    .bottom-angle{
        border: 2px solid #ccb95e;
        padding: 40px;
        border-bottom-right-radius: 3px;
        border-top:0px;
        border-left:0px;
    }
    .content-container{
        margin: 4%;
    }
    .project-links{
        color: white;
        text-decoration: none;
    }
    li{
        list-style: none;
    }
    .mini-angle{
        margin-top: 14px;
    }
    .projects-links-ul  li{
        margin-top: 7px;
        padding-right: 5px;
    }
    .dropdown{
        display: none;
    }
    .links{
        width: 13%;
        margin-right: 2%;
        display: block;
    }
    .links-ul{
        display: flex;
        justify-content: space-between;
    }
    footer{
        display: flex;
        justify-content: space-between;
    }
    .projects{
        margin-right: 15%;
    }
    .hidden{
        display: none;
    }

    #logo a{
        text-decoration: none;
        color: aliceblue;
    }
}